# Sovereign Vault portable runtime template
SOVEREIGN_LOCAL_ONLY=1
SOVEREIGN_MIN_MEMORY_MODE=0
SOVEREIGN_MEM_GB=8
SOVEREIGN_DATA_DIR=./portable-kit/runtime/data
SOVEREIGN_HOST=0.0.0.0
SOVEREIGN_PORT=8000
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL_DEFAULT=gemma3:4b
OLLAMA_MODEL_REASONING=gemma3:4b
OLLAMA_MODEL_CODER=gemma3:4b
OLLAMA_MODEL_FAST=gemma3:4b
OLLAMA_MODEL_EMBEDDING=nomic-embed-text
FRONTEND_PORT=5173
